<nav class="navbar navbar-expand-xl fixed-top">
  <div class="container">
    <a class="navbar-brand" href="index"><img
        claass="w-100"
        src="images/icon/company-logo.svg"
        alt=""
      /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-card-item">
          <a class="nav-link active" href="./">Home</a>
        </li>
        <li class="nav-card-item">
          <a class="nav-link" href="about">About</a>
        </li>
        <li class="nav-card-item">
          <a class="nav-link" href="contact">Contact</a>
        </li>
        <li class="nav-card-item">
          <a class="nav-link" href="blog">Blog</a>
        </li>
      </ul>
      <ul class="right navbar-nav ms-auto">
        <li class="nav-card-item-right">
          <a class="nav-link" href="login">Sign in</a>
        </li>
        <li class="nav-card-item-right create-account">
          <a class="nav-link" href="register">Create account</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<h1>Error</h1>
<footer>
  <div class="container text-center text-md-start">
    <div class="footer-wrap">
      <div class="about">
        <img src="images/icon/company-logo.svg" alt="" />
        <p class="text-muted py-4">
          Start working with HYNeed which can provide you with all the tools
          needed to run an effcieint business remotely.
        </p>
        <div class="social-media">
          <a href="" class="me-2 text-reset"><img
              src="images/icon/facebook-icon.svg"
              alt=""
            /></a>
          <a href="" class="me-2 text-reset"><img
              src="images/icon/twitter-icon.svg"
              alt=""
            /></a>
          <a href="" class="me-2 text-reset"><img
              src="images/icon/linkedin-icon.svg"
              alt=""
            /></a>
          <a href="" class="me-2 text-reset"><img
              src="images/icon/instagram-icon.svg"
              alt=""
            /></a>
        </div>
      </div>

      <div class="company">
        <h6 class="fw-bold">Company</h6>
        <p><a href="aboutus">About us</a></p>
        <p><a href="contact">Services</a></p>
        <p><a href="login">Login</a></p>
      </div>

      <div class="useful-links">
        <h6 class="fw-bold">IT Jobs</h6>
        <p><a href=""> java </a></p>
        <p><a href="">.Net</a></p>
        <p><a href=""> python</a></p>

      </div>

      <div class="newsletter">
        <h6 class="fw-bold">Newsletter</h6>
        <p class="text-muted">
          Sign up and receive the latest tips via email.
        </p>
        <form id="subscribe" action="">
          <label for="email">Youre e-mail:</label>
          <input type="email" placeholder="e-mail:" name="email" required />
          <button type="submit" class="main-btn">Subscribe</button>
        </form>
      </div>
    </div>
    <div class="copyright">
      <p>
        &copy; 2022 HYNeed | Created by
        <a href="./">mohammed karim</a>
      </p>
    </div>
  </div>
</footer>